---
import Experiences from '../components/Experiences.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import data from '../data/resume';
import { makePossessive } from '../helpers';

const possessiveName = makePossessive(data.name());
---

<Layout
  description={`${possessiveName}'s resume built with Astro (https://astro.build/).`}
  title={`${possessiveName} Resume`}>
  <header>
    <Header
      name={data.name()}
      position={data.position()}
      contact={{
        email: data.contactData().email,
        location: data.contactData().location,
        phoneNumber: data.contactData().phoneNumber,
        socials: data.contactData().socials,
      }}
    />
  </header>
  <div class="flex justify-between items-start flex-wrap">
    <main class="inline-block w-full pr-4 sm:w-2/3">
      <Experiences experiences={data.experience()} />
    </main>
    <footer class="inline-block w-full sm:w-1/3">
      <Sidebar degrees={data.education()} skills={data.skills()} />
    </footer>
  </div>
</Layout>
