---
import Icon from './Icon.astro';
import DateRange from './DateRange.astro';
import { makeId } from '../helpers';
import type { Education } from '../data/resume';

export interface Props extends Education {}

const { id, degree, institution, start, end, grade, location } = Astro.props;
const displayId = makeId('education', id);
---

<section id={displayId} class="mb-2">
  <a href={`#${displayId}`}>
    <p class="text-base font-bold">
      {degree}
    </p>
    <p class="text-base font-bold text-rose-700">
      {institution}
    </p>
    <DateRange start={start} end={end} />
    <div class="flex items-center">
      <Icon name="map-marker" />
      <span>{location}</span>
    </div>
    {
      grade && (
        <div class="flex items-center">
          <Icon name="school" />
          <span>{grade}</span>
        </div>
      )
    }
  </a>
</section>
