---
import { makeId } from '../helpers';
import Project from './Project.astro';
import DateRange from './DateRange.astro';
import Icon from './Icon.astro';
import type { Experience } from '../data/resume';

export interface Props extends Experience {}

const { id, organization, position, location, start, end, projects } =
  Astro.props;

const displayId = makeId('experience', id);
---

<section id={displayId} class="mb-2">
  <a href={`#${displayId}`}>
    <h3>{position}</h3>
    <h4>{organization}</h4>
    <div class="flex justify-between items-center">
      <DateRange start={start} end={end} />
      <div class="flex items-center">
        <Icon name="map-marker" />
        <span>{location}</span>
      </div>
    </div>
    {
      projects.map((project) => (
        <Project organizationId={displayId} {...project} />
      ))
    }
  </a>
</section>
