---
export interface Props {
  company: string;
  name: string;
  kpis: string[];
}

const { company, name, kpis } = Astro.props;
const id = `${company.toLowerCase()}-${name
  .toLowerCase()
  .replace(/[\s._]/g, '-')}-project-details`;
---

<section class="mb-2">
  <a id={id} href={`#${id}`}>
    <h5 class="font-bold">{name}</h5>
    <ul class="my-0 list-disc list-inside">
      {kpis.map((kpi) => <li class="ml-2">{kpi}</li>)}
    </ul>
  </a>
</section>
